@model 部落格實作.ViewModels.MembersChangePasswordViewModel

@{
    ViewBag.Title = "修改密碼";
}
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
<div class="page-header">
    <h1>修改密碼<small>@ViewData["ChangeState"]</small></h1>
</div>
<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @*顯示彙總的表單驗證的錯誤訊息*@
        <div class="alert alert-warning">
            @Html.ValidationSummary()
        </div>
        @*產生登入帳號密碼表單內容*@
        <div class="form-group">
            @Html.LabelFor(Model => Model.Password, new { @class = "col-xs-4 col-md-1 form-label" })
            <div class="col-xs-8 col-md-11">
                @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.Password, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.NewPassword, new { @class = "col-xs-4 col-md-1 form-label" })
            <div class="col-xs-8 col-md-11">
                @Html.PasswordFor(Model => Model.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.NewPassword, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.NewPasswordCheck, new { @class = "col-xs-4 col-md-1 form-label" })
            <div class="col-xs-8 col-md-11">
                @Html.PasswordFor(Model => Model.NewPasswordCheck, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.NewPasswordCheck, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input class="btn btn-primary" type="submit" value="修改密碼" />
            </div>
        </div>
    }
</div>
